
html,
body {
  width: 100%;
  height: 100%;
}
body,
p {
  margin: 0px;
  padding: 0px;
  font-family: "microsoft yahei";
  font-size: 0.95em;
  -webkit-user-select: none;
}
html {font-size: 62.5%;/*10 ÷ 16 × 100% = 62.5%*/}
img {
  border: 0;
  position: absolute;
}
span {
  display: -webkit-inline-box;
}
#loading {
  width: 100%;
  height: 100%;
  background: #EFEFEF;
  z-index: 100;
  position: fixed;
  top: 0;
}
#loading > div {
  width: 80%;
  height: 3%;
  border: solid 2px #000;
  -webkit-border-radius: 5px;
  margin: auto;
  top: 40%;
  left: 0;
  right: 0;
  bottom: 57%;
  background-color: transparent;
  position: absolute;
}
#loading > div > div {
  position: absolute;
  width: 99%;
  height: 80%;
  -webkit-border-radius: 5px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
#loading > div > div > div {
  width: 100%;
  height: 100%;
  background-color: #000;
}
.swiper-container {
  width: 100%;
  height: 100%;
  background: #fff;
}
.swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% 100%;
}
.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #fff;
  opacity: .4;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}
@-webkit-keyframes tipmove {
  0% {
    bottom: 4%;
    opacity: 1;
  }
   100% {
    bottom: 7%;
    opacity: 0;
  }
}
#array {
  width: 1.5rem;
  height: 1.26rem;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  z-index: 999;
  -webkit-animation: tipmove 1.5s infinite ease-in-out;
}
@keyframes wheelrot {
  0% {
    -webkit-transform: rotateZ(-360deg);
  }
}
#ss_1 {
  background-image:url(../img/index_bg.jpg);
}
#ss_1 > div:nth-child(1) {
 	height: 100%;
  position: relative;
}
#ss_1 > div:nth-child(1)>img{
  width: 100%;
  height: 58%;
  bottom: 0%;
}
#ss_2{
	background-image: url(../img/ss_2_word.jpg);
}
#ss_2>div{
	float: right;
}
#ss_2>div>img{
	width:80%;
	height: 43%;
	top: 3%;
	right: 5%;
}
#ss_3{
	background-image: url(../img/ss_3_word.jpg);
}
#ss_3>div:first-child{
	margin: 0% 3%;
	margin-top: 8%;
	height: 19%;
	position: relative;
}
#ss_3>div:first-child>p{
	left: 0.15rem;
	top: 0.05rem;
	font-size: 0.7rem;
	position: absolute;
	font-family: "宋体";
	letter-spacing: 0.01em;
	color: #848484;
	z-index: 999;
}
#ss_3>div:first-child>img{
	width: 100%;
	height: 100%;
}
#ss_3>div:nth-child(2){
	width: 80%;
}
#ss_3>div:nth-child(2)>img{
	width: 88%;
	height: 36%;
	right: 3%;
	bottom: 0;
}
#ss_4{
	background-image:url(../img/ss_4_word.jpg) ;
}

#ss_4>div:nth-child(1){
	position: absolute;
	top: 7%;
	width: 100%;
	height: 30%;
}
#ss_4>img:first-child{
    width: 33%;
    left: 0;
    padding-left: 8.5%;
    top: 7%;
    height: 1.5%;
}
#ss_4>img:nth-child(2){
	top: 10%;
	width: 33%;
	left: 0;
  padding-left: 8.5%;
  height: 23%;
}
#ss_4>img:nth-child(3){
	top: 35%;
	width: 33%;
  left: 0;
  padding-left: 8.5%;
  height:7% ;
}

#ss_4>img:nth-child(4){
    top: 55%;
    left: 0;
    padding-left: 8.5%;
    height: 17%;
    width: 3%;

}
#ss_4>img:nth-child(5){
	top:55%;
	width: 37%;
	right: 0;
	padding-right:48%;
  height:17% ;
}
#ss_4>img:nth-child(6){
	top: 55%;
	width: 37%;
  right: 0;
  padding-right: 8%;
  height:17% ;
}
#ss_5>img{
	width: 100%;
	height: 100%;
}
#ss_5>div>img{
	width: 85%;
	height: 73%;	
	top: 25%;
	left: 8%;
}
#ss_6{
  background-image: url(../img/ss_6_bg.jpg);
}
#ss_6>img{
	width: 84%;
	height: 10%;
  left: 5%;
  top: 5%;
}
#ss_6>div:nth-child(2){
	position: absolute;
	top: 32%;
  left: 5%;
  width: 75%;
  height: 22%;
}
#ss_6>div:nth-child(2)>img:first-child{
	width: 65%;
	height: 100%;
}
#ss_6>div:nth-child(2)>img:nth-child(2){
	width:32%;
	height: 100%;
	right: 0;
}

#ss_6>div:nth-child(3){
	width: 75%;
	height: 30%;
	position: absolute;
	bottom: 10%;
	left:0;
}
#ss_6>div:nth-child(3)>img:nth-child(1){
	padding-left:6% ;
	width: 100%;
	height: 100%;
}
#ss_6>div:nth-child(3)>img:nth-child(2){
  width: 19%;
	height: 25%;
	bottom: 0;
	right: -26%;
}

#vr_btn{
		position: absolute;
    width: 3rem;
    height: 3rem;
    bottom: 22%;
    left: 28%;
}
#vr_btn>a>span:first-child{
    background: transparent;
    opacity: 0.5;
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border-radius: 50%;
    border: 0.8rem solid #fff;
    animation: pulse 1.5s infinite ease-in-out;
}
#vr_btn>a>span:nth-child(2){
    background: transparent;
    opacity: 0.8;
    width: 0.8rem;
    height: 0.8rem;
    position: absolute;
    border-radius: 50%;
    border: 0.5rem solid #fff;
    top: 0.65rem;
    left: 0.65rem;
    animation: pulse 1.5s infinite ease-in-out;
}
#ss_7>img:nth-child(1){
	width: 100%;
	height: 100%;
}
#ss_7>img:nth-child(2){
    width: 65%;
    height: 29%;
    top: 23%;
    right: 5%;
}
#ss_7>img:nth-child(3){
	  bottom: 2%;
    width: 63%;
    height: 34%;
    left: 0;
    padding-left: 5%;
}
#ss_7>img:nth-child(4){
    top: 16%;
    width: 10%;
    height: 6%;
    left: 30%;
}
#ss_7>img:nth-child(5){
    bottom: 2%;
    width: 10%;
    height: 6%;
    right: 21%;
}
#ss_7 .ss_7_btn1{
    top: 31%;
    left: 52%;
}
#ss_7 .ss_7_btn2{
	  bottom: 16%;
    left: 27%;
}
#ss_8>img:nth-child(1){
	width: 100%;
	height: 100%;
}

#ss_8>img:nth-child(2){
		top: 1%;
    right: 0;
    width: 35%;
    height: 45%;
}
#ss_8>img:nth-child(3){
		width: 68%;
    height: 25%;
    top: 30%;
    left: 5%;
}
#ss_8>img:nth-child(4){
    width: 78%;
    height: 27%;
    bottom: 4%;
    right: 5%;
}
#ss_8>img:nth-child(5){
	top: 49%;
	right: 16%;
	height: 6%;
	width: 10%;
}
#ss_8 .ss_8_btn{
    bottom: 55%;
    left: 28%;
}
#ss_9>img:nth-child(1){
	width: 100%;
	height: 100%;
}
#ss_9>img:nth-child(2){
		right: 5%;
    top: 22%;
    width: 63%;
    height: 43%;
}
#ss_9>img:nth-child(3){
    right: 5%;
    top: 70%;
    width: 84%;
    height: 28%;}
#ss_9>img:nth-child(4){
		width: 10%;
    height: 6%;
    bottom: 35%;
    left: 21%;
}
#ss_9 .ss_9_btn{
    bottom: 55%;
    left: 53%;
}
#ss_10>img:nth-child(1){
	width: 100%;
	height: 100%;
}
#ss_10>img:nth-child(2){
    top: 5%;
    width: 70%;
    height: 9%;
    right: 5%;
}
#ss_10>img:nth-child(3){
		top: 5%;
    width: 42%;
    height: 72%;
    left: 0;
}
#ss_11>img:nth-child(1){
	width: 100%;
	height: 100%;
}
#ss_11>img:nth-child(2){
	top: 8%;
	right: 9%;
	width: 42%;
	height: 22%;
}
#ss_12>img:nth-child(1){
	width: 100%;
	height: 100%;
}
#ss_12>img:nth-child(2){
    width: 90%;
    height: 56%;
    left: 5%;
    top: 18%;
}
@keyframes mapmove {
  0% {
    top: 40%;
    }
  
  40%{
  	38%
  }
  80% {
    top: 39%;
  }
}
#ss_12>img:nth-child(3){
	top: 40%;
	left: 49%;
  width: 10%;
  height: 8%;
 animation: mapmove 1.5s infinite ease-in-out;
}
#ss_13>img:nth-child(1){
	width: 100%;
	height: 100%;
}
.music {
  width: 2rem;
  height: 2rem;
  top: 4%;
  right: 5%;
  position: absolute;
  z-index: 3;
  -webkit-user-select: none;
  background-color: black;
  border-radius: 50%;
  opacity: 0.7;
}
.music .audio {
  width: 100%;
}
@keyframes move {
  0% {
    transform: rotateZ(0deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}